body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 14px;
}

.contenedor{
    display:inline-block;
    text-align: center;
    height: auto;
    width: 43%;
    padding: 1em;
}

.principal{
    background-color: #900c3f;
    margin: auto;
    margin-top: 1.5em;
    width:  1100px;
    height: 650px;
    box-shadow: 1px 1px 25px blue;
    border-radius: 1em;
}

.formularios{
    display: inline-block;
    width: 47%;
    height: 600px;
    margin-left: 1em;
    margin-right: 1em;

}

.botones{
    margin: auto;
    margin-top: 1em;
    text-align: center;
}

.pie{
    text-align: center;
}

h1{
    text-align: center;
    
}

h3{
    display: flex;
    margin-left: 1em;
    
}
